<div class="container-fluid container-buffer">
  <div id="jumbo-jordi" class="jumbotron jordi col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-8 col-md-8 col-lg-8">
  	<svg id="letter-tester"></svg>
  	<div class="sub-text">Rails Developer and Photography Enthusiast</div>
  	<div class="row jordi">
  		<div class="pull-right buffer-right">
    		<%= link_to 'Resume', resume_path, type: 'button', class: 'btn btn-lg btn-default jordi' %>
    		<%= link_to 'Photos', 'https://500px.com/jfoste', type: 'button', target: '_blank', class: 'btn btn-lg btn-default jordi' %>
    	</div>
  	</div>
  </div>
</div>